.main-container {
    margin-top: 50px;
}

.task-input {
    margin-bottom: 10px;

    &:first-child {
        margin-top: 20px;
    }

    .task-content {
        width: 300px;
    }
    .task-progress {
        width: 95px;
    }
}

.today-task, .today-release {
    h4 {
        margin-top: 25px;
        margin-bottom: 4px;
    }
    .task {
        margin-bottom: 4px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 18px;
    }
}